extends layout

block content
  .pb-2.mt-4.mb-2.border-bottom
    h2.display-3 Login
  br
  br
  p Please login below
  br
  form(method='post', action='/users/login')
    .form-group
        label Username
        input.form-control(name='username', type='text', placeholder= 'Enter Username')
    .form-group
        label Password
        input.form-control(name='password', type='password', placeholder= 'Enter Password')
    input.btn.btn-primary(type='submit', name='submit', value='Login')
